@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400');

.container {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1.5vw;
  padding: 2vw 3vw 3vw 3vw;
}

.filler-row {
  clear: left;
}

.row {
  width: 100%;
}

.addtl-dscp {
  margin-left: 2.5vw;
}

.row > .col {
  float: left;
}

.section {
  margin-top: 3vw;
}

.center {
  margin-top: 8vw;
}

.right-align {
  text-align: right;
}

.col-1 { width: 10% }
.col-2 { width: 20% }
.col-3 { width: 30% }
.col-4 { width: 40% }
.col-5 { width: 50% }
.col-6 { width: 60% }
.col-7 { width: 70% }
.col-8 { width: 80% }
.col-9 { width: 90% }
.col-10 { width: 100% }
.col-15 { width: 15% }
.col-25 { width: 25% }
.col-35 { width: 35% }
.col-45 { width: 45% }
.col-55 { width: 55% }
.col-65 { width: 65% }
.col-75 { width: 75% }
.col-85 { width: 85% }
.col-95 { width: 95% }
.col-33 { width: 33%; padding: 0px 5px 0px 5px; }

.img-10h { height: 10vw; float: left;}
.img-30 { width: 30vw; padding: 0px 0px 0px 0px; }

/* Navigation Bar */
.nav {
  font-size: 1.5vw;
  margin-top: 10px;
}

.nav > .blocks {
  text-align: center;
  border-left: 1px solid black;
  padding: 2vw 0vw 2vw 0vw;
}

.large.blocks {
  font-size: 2vw;
}

.blocks > ul {
  margin: 0vw 0vw 0vw -40px;
  font-size: 0.75vw;
  list-style: none;
}

.nav > .blocks:last-child {
  border-right: 1px solid black;
}

.nav > .right {
  position: relative;
  top: 1.5vw;
  text-align: right;
}

.nav > .right > p {
  font-size: 1.25vw;
  margin: 0px 0px 0.5vw 0px;
}

/* Product Main Div */
.product-title {
  font-size: 4vw;
  margin: 5vw 0vw 0vw 0vw;
}

.product-subtitle {
  font-size: 2vw;
  font-style: italic;
  margin: 0vw 0vw 5vw 0vw;
}

.currency {
  color: #dd0000;
}

.price {
  color: #dd0000;
  font-weight: bold;
  font-size: 3vw;
}

.certifications {
  width: 9vw;
  margin-left: 2vw;
}

.payment-methods {
  margin-top: 1vw;
}

.payment-methods > img {
  width: 5vw;
}

.social-media-icons {
  font-size: 1vw;
}

.social-media-icons > a {
  text-decoration: none;
  margin-top: 0.75vw;
  padding: 0.5vw;
  font-size: 1vw;
  width: 1vw;
  text-decoration: none;
  color: #fff;
  border-radius: 100%;
  text-align: center;
}

.social-media-icons > a:hover {
  text-decoration: none;
  color: #fff;
}

.social-media-icons > a:visited {
  text-decoration: none;
  color: #fff;
}

.social-media-icons > a:active {
  text-decoration: none;
  color: #999;
}

.fa-facebook {
  background: #3B5998;
}

.fa-twitter {
  background: #55ACEE;
}

.fa-google-plus {
  background: #bb0000;
}

.fa-envelope {
  background: #999;
}

.additional-image-left {
  padding: 0vw 7vw 0vw 0vw;
}

.additional-image-right {
  padding: 0vw 0vw 0vw 7vw;
}

/* Related */
.related {
  background-color: #eee;
  padding: 0px 1.5vw 2.5vw 1.5vw;
  margin-top: 20px;
  height: 17vw;
}

.rel-sec-title {
  padding-top: 2.5px;
}

.rel-product {
  font-size: 0.8vw;
  float: left;
}

.rel-product > img {
  margin-right: 1vw;
}

.rel-title {
  font-size: 1vw;
  font-weight: bold;
  margin: 0vw 0.2vw 0vw 0vw;
}

.rel-title > a {
  text-decoration: none;
  color: #000;
}

.rel-title > a:hover {
  text-decoration: underline;
  color: #000;
}

.rel-title > a:active {
  text-decoration: none;
  color: #000;
}

.rel-title > a:visited {
  text-decoration: none;
  color: #000;
}

.rel-details {
  margin: 0vw 0vw 1vw 0vw;
}

.rel-currency {
  color: #dd0000;
}

.rel-price {
  color: #dd0000;
  font-weight: bold;
  font-size: 1vw;
}

/* Footer */
.footer-details {
}

.footer-title {
  font-size: 2vw;
  font-weight: bold;
  margin: 0px;
  padding: 0px 5px 0.5vw 10px;
}

.right-align > .footer-title {
  padding: 0px 10px 0.5vw 5px;
}

.footer-dscp {
  font-size: 1vw;
  margin: 0px;
  padding: 0px 0px 1vw 10px;
}

.right-align > .footer-dscp {
  padding: 0px 10px 1vw 0px;
}
